body {
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh; /* Establece la altura del cuerpo al 100% de la ventana */
	margin: 0;
	padding: 0; /* Ajusta el relleno según tus necesidades */
	overflow-y: hidden;
}

.contenedor {
	display: flex;
	justify-content: space-between; /* Distribuye los elementos en los extremos (izquierda y derecha) */
	align-items: center;
	width: 100%; /* Establece el ancho del contenedor al 80% del padre */
}

h1 {
	font-size: 40px;
	margin-bottom: 40px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center; /* Alinea el encabezado al centro */
}

.parrafoActualizando {
	font-size: 25px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 500px;
	text-align: center; /* Alinea el párrafo al centro */
}
.informacion_personal {
	color: aqua;
}

.logoActualizando {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: right;
	width: 600px;
	position: relative; /* Necesario para que los pseudo-elementos sean posicionados correctamente */
	margin-left: 20px;
}
.logoActualizando::before {
	content: ''; /* Necesario para el pseudo-elemento */
	position: absolute; /* Posiciona el pseudo-elemento de forma absoluta */
	top: 0;
	bottom: 0;
	left: -20px;
	width: 3px; /* Ancho de la línea izquierda */
	background-color: #ffffff; /* Color de la línea izquierda */
}

.logo {
	fill: #fff;
}

@media screen and (max-width: 600px) {
	.contenedor {
		flex-direction: column; /* Cambia la dirección del contenedor a columna en dispositivos móviles */
		align-items: center;
	}

	h1 {
		font-size: 20px;
		margin: 15px 15px; /* Ajusta el margen según tus necesidades */
		text-align: center;
	}

	.parrafoActualizando {
		font-size: 17px;
		width: 80%;
		margin: 0 auto; /* Centra el elemento utilizando márgenes automáticos */
		text-align: center;
	}

	.informacion_personal {
		color: aqua;
	}
	.logoActualizando {
		margin: 15px 15px;
		text-align: right;
		width: 350px;
		position: relative; /* Necesario para que los pseudo-elementos sean posicionados correctamente */
	}

	.logoActualizando::before {
		display: none; /* Oculta la línea izquierda en dispositivos móviles */
	}
}
